@use "colors.scss" as *;

*{outline-color: transparent; outline: none; transition: none; box-shadow: none;} // global reset
scrollbar*,scrollbar slider,scrollbar{background: none; border: none; color: transparent;} // remove scrollbars

.window,
.attempt-count,
.time,.delta,
.timer,
.timer-seconds,
.timer-millis,
.delay,
.splits,
.split,
.current-split,
.split-title,
.split-icon,
.split-time,
.split-delta,
.split-last,
.done,
.behind,
.losing,
.best-segment,
.best-split,
.footer,
.prev-segment-label,
.prev-segment,
.sum-of-bests-label,
.sum-of-bests,
.personal-best-label,
.personal-best,
.world-record-label,
.world-record
{
      font-family: Noto Sans;
      text-shadow: 2px 2px 0px $ls_fg_shadow;
      padding: 0;
      margin: 0;
}

.header,.title
{
      font-family: Noto Sans;
      text-shadow: 4px 2px 0px $ls_fg_shadow;
      padding: 0;
      margin: 0;
}
