$ls_bg: #0F0F0F;
$ls_fg: #ffffff;
$ls_title_bg_c1: #2A2A2A;
$ls_title_bg_c2: #131313;
$ls_split_bg_alt: rgba(255,255,255,0.0039);
$ls_split_bg_current_c1: #3373F4;
$ls_split_bg_current_c2: #153574;
$ls_footer_bg_c1: #1C1C1C;
$ls_footer_bg_c2: #0D0D0D;
$ls_thin_sep_c: rgba(255,255,255,0.01176);
$ls_sep_c: rgba(255,255,255,0.1412);
$ls_fg_shadow: rgba(0,0,0,0.7);
$timer_paused_fg: #7A7A7A;
$timer_off_fg: #ACACAC;
$pb_fg: #16A6FF;
$losing_fg: #CC1200;
$behind_fg: #CC5C52;
$ahead_losing_fg: #70CC89;
$ahead_fg: #00CC36;
$sob_fg: #D8AF1F;












